<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user1.app">

    <uses-sdk android:targetSdkVersion="17" />
    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <!-- permission required to Send SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/unilogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/unilogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewAssignment" />
        <activity android:name=".CurrentAssignments" />
        <activity android:name=".ExpiredAssignments" />
        <activity android:name=".EditCurrentAssignment" />
        <activity android:name=".EditExpiredAssignment"></activity>

        <receiver android:name=".AlarmReciever"/>
    </application>

</manifest>